@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO BEAN TOWN!</h1>
    <p class="lead">"we sell the beans"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VIEW THE BEANS</h2>
        <p>
            The beans of your dreams are here...
        </p>
        <p><a class="btn btn-default" href="~/Home/Beans">BEANS</a></p>
    </div>

    <div class="col-md-4">
        <h2>LOG IN</h2>
        <p>
            log into your bean town account
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">BEANS</a></p>
    </div>

    <div class="col-md-4">
        <h2>REGISTER</h2>
        <p>
            Register for a bean town account
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">BEANS</a></p>
    </div>
</div>